.active {
    max-height: 500px;
}

%green {
    background-color: #1E6140;
}

%font {
    font-size: 16px;
    font-weight: 300;
}

%display {
    display: flex;
    justify-content: center;
    align-items: center;
}

%span {
    width: 1px;
    background-color: white;
}

.container {
    width: 100%;
    min-height: 100%;
    background: url('../image/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.header {

    &__nav {
        max-width: 100%;
        height: 50px;
        @extend %green;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        color: white;
    }

    &__btn {
        display: none;
        cursor: pointer;
        margin-right: 5px;
        width: 40px;
        height: 40px;
    }

    &__burger {
        width: 40px;
        height: 5px;
        display: flex;
        transition: 0.3s ease;
        overflow: hidden;
    }

    &__curcle {
        width: 4px;
        height: 4px;
        background-color: #84C551;
        border-radius: 50%;
        margin-right: 2px;
    }

    &__liner {
        width: 28px;
        height: 5px;
        background-color: #84C551;
        border-radius: 20px;
    }

    &__wrapper {
        width: 1100px;
        height: 50px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    &__mobile-vers {
        display: none
    }

    &__wertical {
        @extend %span;
        height: 50px;
        background: rgba(255, 255, 255, 0.20);
    }

    &__menu {
        width: clamp(680px, 72vw, 819px);
        margin-left: 5px;
        @extend %green;
        @extend %font;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__box {
        display: none;
    }

    .buy-mobile {
        display: none;
    }

    &__number {
        display: none;
    }

    &__searh-mobile {
        display: none;
    }

    &__tab {
        width: 86px;
        position: relative;
        z-index: 0;

        &:hover .header__info {
            width: 221px;
            height: 133px;
        }

        img {
            transition: 0.3s ease;
        }

        &:hover img {
            transform: rotate(180deg);
        }

    }

    &__companyInfo {
        display: none;
    }

    &__info {
        overflow: hidden;
        width: 0px;
        height: 0px;
        position: absolute;
        left: 0px;
        top: 19px;
        background: #1E6140;
        border-radius: 0px 0px 20px 20px;
        margin-top: 30px;
        transition: 0.3s ease;

        &:hover {
            background-color: rgba(52, 113, 83, 1);
        }
    }

    &__informatiom {
        margin: 17px 0px 0px 12px;
    }

    &__item {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        height: 50px;
        z-index: 1;

        img {
            margin: 4px 0px 0px 5px;
        }

        a {
            text-decoration: none;
        }
    }

    &__register {
        width: 159px;
        height: 21px;
        @extend %display;
        flex-direction: row;
        font-size: 15px;
        margin: 0px 5px;
        cursor: pointer;
    }

    &__line {
        width: 1px;
        height: 20px;
        background-color: white;
    }

    &__href {
        width: 139px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
    }

    &__link {
        text-decoration: none;
    }

    &__logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px 5px;
    }

    &__logImg {
        margin-right: 20px;
    }

    &__form {
        width: 911px;
        @extend %display;
        flex-direction: row;
        justify-content: space-between;
    }

    &__input {
        width: 306px;
        height: 39px;
        outline: none;
        border: none;
        margin-left: 19px;
    }

    &__span {
        width: 1px;
        height: 28px;
        background-color: #ccc;
    }

    &__button {
        background-color: #fff;
        width: 45px;
        height: 15px;
        cursor: pointer;
    }

    &__searhBody {
        display: flex;
        align-items: center;
        width: 341px;
        border: 1px solid #ccc;
        border-radius: 90px;
        overflow: hidden;
        background-color: #fff;
    }

    .phone {
        width: 263px;
        height: 41px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 1;

        &__number {
            width: 219px;
        }

        &__icon {
            width: 40px;
            height: 40px;
            @extend %display;
            border-radius: 50%;
            border: 1px solid #8C3213;
            cursor: pointer;
            margin-right: 6px;
            transition: 0.3s ease;
            z-index: 1;

            &:hover {
                background-color: #8C3213;
                box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);

            }

            &:hover svg {
                fill: #ffffff;
            }

            svg {
                fill: #8C3213;
                stroke-width: 0.4px;
                transition: 0.3s ease;
            }
        }

        &__number {
            position: relative;

            &:hover .phone__more-numbers {
                height: 110px;
                padding: 10px;
            }

            &:hover img {
                transform: rotate(180deg);
            }

        }

        &__more-numbers {
            width: 263px;
            position: absolute;
            background-color: #ffffff;
            left: -58px;
            top: -10px;
            border-radius: 20px;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
            overflow: hidden;
            height: 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: end;
            z-index: -1;
            transition: height, 0.3s ease;

            a {
                width: 64%;
                margin: 10px 0px 0px 0px;
            }
        }

        &__call {
            position: relative;
            text-decoration: none;
            color: #000000;
            z-index: 1;
        }

        &__href {
            position: relative;
            color: #84BE51;
            font-size: 14px;
            margin-top: 6px;
            font-weight: 700;
            z-index: 1;
        }

    }

    #arrow {
        transition: transform, 0.3s ease;
    }

    .buy {
        width: 160px;
        height: 41px;
        @extend %display;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        &__favorite {
            width: 39px;
            height: 39px;
            @extend %display;
            border-radius: 50%;
            border: 1px solid #8C3213;
            transition: background-color 0.3s ease;
            cursor: pointer;

            .buy__shopIcon {
                fill: #8C3213;
            }

            &:hover {
                background-color: #8C3213;
                box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);

                .buy__shopIcon {
                    transition: 0.3s ease;
                    fill: white;
                }

                .fa-regular {
                    color: #ffffff;
                }
            }

            .fa-regular {
                margin-top: 2px;
                color: #8D3200;
                transition: 0.3s ease;
            }

        }

        &__castle {
            width: 40px;
            height: 40px;
            position: absolute;
            display: flex;
            justify-content: right;
        }

        &__counter {
            @extend %display;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: #84BE51;
            top: 0;
            color: #FFF;
            text-align: center;
            font-size: 10px;
        }

    }

    @media (max-width: 1065px) {
        &__nav {
            max-width: 100%;
        }

        &__call {
            text-decoration: none;
        }

        &__logo {
            display: flex;
            justify-content: space-between;
        }

        &__logImg {
            margin-right: 15px;

            img {
                width: 106px;
                height: 40px;
            }

        }

        &__searhBody {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 229px;
        }
    }

    @media(max-width:880px) {

        &__nav {
            flex-direction: row-reverse;
            justify-content: space-between;
        }

        &__form {
            width: fit-content;
        }

        &__wrapper {
            width: fit-content;
        }

        &__wertical {
            display: none;
        }

        .header__activator {
            display: flex;
        }

        &__menu {
            width: 100%;
            position: absolute;
            top: 30px;
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            overflow: hidden;
            z-index: 2;
            max-height: 0;
            transition: 0.6s ease;
            margin-left: 0px;
        }

        .active {
            max-height: 500px;
        }

        &__btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
        }

        .buy-mobile {
            width: 100%;
            display: flex;
            justify-content: space-around;

            &__logoMobile {
                margin: 10px 10px 10px 10px;
            }

            &__favoriteMobile {
                width: 100px;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

            }

            &__hover {
                transition: 0.3s ease;

                &:hover {
                    background-color: #E74E13;
                    border: 1px solid #E74E13;
                }

            }

            &__curcleMobile {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border: 1px solid #fff;
                border-radius: 50%;

                svg {
                    fill: white;
                }

                div {
                    position: absolute;
                    right: 0;
                }
            }
        }

        &__box {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-bottom: 1px solid rgba(255, 255, 255, 0.10)
        }

        &__searh-mobile {
            width: 287px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 11px;
            margin: 0px 0px 10px 0px;
            padding-right: 4px;
        }

        &__mobile-block {
            width: 285px;
            display: flex;
            flex-direction: row;
            padding: 0px 4px 20px 0px;
            justify-content: space-between;

            svg {
                fill: white;
            }
        }


        &__heard-mobile {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 1px solid #fff;
        }

        &__hover {
            cursor: pointer;
            transition: 0.3s ease;

            &:hover {
                border: 1px solid #E74E13;
                background-color: #E74E13;
            }
        }

        &__icon-mobile {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__input {
            width: 200px;
        }

        &__number {
            width: 207px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-size: 14px;
        }

        &__connection {
            display: block;
            width: 207px;
            height: 20px;
            color: #84BE51;
            font-weight: 500;
        }

        &__arrow {
            display: none;
        }

        &__item {
            width: 100%;
            background-color: #1E6140;
            font-size: 16px;
            transition: 0.3s ease;

            &:hover {
                background-color: #327855;
            }
        }

        &__tab {
            &:hover &__info {
                display: none;
            }
        }

        &__companyInfo {
            display: block;
        }

        &__company {
            display: none;
        }

        &__info {
            position: absolute;
            left: 40%;
        }

        &__item-news {
            display: none;
        }


        .phone {
            width: fit-content;

            &__number {
                display: none;
            }

            &__icon {
                margin: 0px 20px;
            }
        }

        .buy {
            width: 100px;

            &__heart {
                display: none;
            }
        }
    }

    @media(max-width:565px) {
        &__searh {
            display: none;
        }
    }

    @media(max-width:400px) {
        .phone {
            &__icon {
                display: none;
            }
        }
    }
}

//  наступний блок банер

.baner {

    padding-bottom: 30px;

    &__product {
        overflow: hidden;
        display: flex;
        justify-content: center;
        transition: 0.3s ease;
    }


    &__point {
        display: flex;
        justify-content: center;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        max-width: 1110px;
        margin: 0;
    }


    &__li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 202px;
        border-radius: 20px;
        border: 1px solid #1E6140;
        height: 40px;
        cursor: pointer;
        margin: 0;
        transition: 0.3s ease;
        margin: 5px 10px 5px 10px;

        svg {
            fill: #84BE51;
        }

        &:hover {
            background: #E74E13;
            color: #fff;
            border: 1px solid #E74E13;
        }

        &:hover svg {
            fill: white;
            transition: 0.3s ease;
        }
    }

    &__mobile-text {
        &:hover svg path {
            fill: #fff;
            stroke: #FFF;
        }
    }

    &__arrow-menu {
        display: none;
    }


    &__name {
        max-width: 140px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        margin-left: 8px;
    }

    &__lot {
        max-width: min-content;
    }

    @media(max-width:1110px) {
        &__point {
            display: grid;
            grid-template-columns: 211px 211px 222px;
        }

    }

    @media(max-width:660px) {

        padding: 0;

        &__product {
            height: 60px;
            overflow: hidden;

        }

        &__point {
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 274px;
        }

        &__li {
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 0px 10px 0px 10px;
            margin: 5px auto;
        }


        &__arrow-menu {
            position: absolute;
            display: block;
            right: 40px;
            transition: 0.3s ease;
        }
    }


}

// медіа адаптив

.buy-mobile {
    display: none;
}


.info-shop {
    width: 100%;

    &__row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    &__column {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0px 10px;
    }

    &__text-wrap {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    &__text {
        max-width: 513px;
        display: flex;
        flex-direction: column;

        h1 {
            margin: 0;
            font-weight: 300;
            font-size: clamp(25px, 4.5vw, 55px);
        }

        img {
            width: clamp(14px, 3vw, 32px);
        }

    }

    &__span {
        width: 100%;
        font-weight: 700;
    }

    &__company-btn {
        display: flex;
        width: 220px;
        height: 47px;
        align-items: center;
        justify-content: center;
        background-color: #E74E13;
        color: #FFF;
        font-size: 16px;
        font-weight: 700;
        border-radius: 90px;
        background: #E74E13;
        cursor: pointer;

        a {
            text-decoration: none;
        }
    }

    &__compiler-btn {
        display: none;
    }

    &__sphere {
        max-width: 561px;
        color: rgba(0, 0, 0, 0.50);
        font-weight: 400;
        font-size: clamp(16px, 3vw, 18px);
    }

    &__poster {
        position: relative;
        max-width: 87%;
    }

    &__photo {
        max-width: 100%;
        height: auto;
        border-radius: 36% 0px 45% 0px;
    }


    &__leaf {
        position: absolute;
        background-size: cover;
    }

    &__leaf1 {
        width: 30%;
        height: 26%;
        top: -14%;
        right: 2%;
        background-image: url('../image/leaf1.png');
    }


    &__leaf2 {
        width: 31%;
        height: 26%;
        bottom: 15%;
        left: -19%;
        background-image: url('../image/leaf2.png');
    }


    &__leaf3 {
        width: 19%;
        height: 16%;
        bottom: 10%;
        left: -14%;
        background-image: url('../image/leaf1.png');
    }

    @media (max-width:1000px) {

        &__row {
            margin: 0;
        }

        &__poster {
            display: flex;
            justify-content: center;
            margin: 0px 7px;
        }

        &__column {
            width: 100%;
        }

        &__text-wrap {
            margin-top: 0;
        }

        &__text {
            h1 {
                font-weight: 300;
                margin-right: 0;
            }
        }


    }

    @media (max-width:660px) {
        &__row {
            flex-direction: column;
        }

        &__text-wrap {
            width: 90%
        }

        &__column {
            padding: 0px 0px 20px 0px;
        }

        &__h1 {
            margin: 0;
        }

        &__text {
            height: auto;
        }

        &__sphere {
            margin: 0;
        }

        &__poster {
            margin: auto;
        }

        &__com-btn {
            display: none;
        }

        &__compiler-btn {
            display: block;
            width: 97%;
            margin: 10px auto;
        }

    }

    @media (max-width: 400px) {
        &__company-btn {
            width: 90%;
        }
    }

}

.gradient-container {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    height: fit-content;
    background: #F8F8F8;

    .orange {
        position: absolute;
        width: 713px;
        height: 713px;
        border-radius: 713px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(231, 78, 19, 0.10) 0%, rgba(231, 78, 19, 0.00) 100%);
        filter: blur(30px);

        &__one {
            right: -420px;
            top: 0%;
        }


        &__two {
            left: -420px;
            top: 13%;
        }

        &__three {
            left: -325px;
            top: 35%;
        }

        &__four {
            right: -325px;
            top: 35%;
        }


        &__five {
            left: -200px;
            top: 58%;
        }


        &__six {
            left: -200px;
            top: 74%;
        }


        &__seven {
            right: -200px;
            top: 74%;
        }

    }

    .green {
        position: absolute;
        width: 1068px;
        height: 1068px;
        border-radius: 1068px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(132, 190, 81, 0.30) 0%, rgba(210, 230, 189, 0.00) 100%);
        filter: blur(30px);

        &__one {
            bottom: 44%;
            left: -720px;
        }


        &__two {
            bottom: 44%;
            right: -720px;
        }


        &__three {
            bottom: 24%;
            left: -720px;
        }


        &__four {
            bottom: 24%;
            right: -720px;
        }


        &__five {
            bottom: 5%;
            right: -595px;
        }


        &__six {
            bottom: -15%;
            right: -595px;
        }

        &__seven {
            bottom: -15%;
            left: -595px;
        }

    }
}

.about {

    &__block {
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__image {
        max-width: 100%;
        height: fit-content;
        position: relative;
        margin: 0px 20px 0px 20px;

        img {
            max-width: 100%;
            border-top-right-radius: 31%;
            border-bottom-left-radius: 42%;
        }
    }

    &__h1 {
        font-size: clamp(25px, 4.5vw, 55px);
        margin-top: 0;

        img {
            margin-right: 1%;
            width: clamp(14px, 3vw, 32px);
        }
    }

    &__leaf {
        position: absolute;
        background-size: cover;
    }

    &__leaf1 {
        position: absolute;
        background-size: cover;
        width: 37%;
        height: 32%;
        left: -8%;
        bottom: 16%;
        background-image: url('../image/leaf2.png');
    }

    &__leaf2 {
        position: absolute;
        background-size: cover;
        width: 22%;
        height: 20%;
        left: 13%;
        bottom: -3%;
        background-image: url('../image/leaf1.png');
    }


    &__text-info {
        width: 540px;
        margin: 0px 40px;
    }

    &__text {
        color: rgba(0, 0, 0, 0.50);
        font-size: clamp(16px, 3vw, 18px);
    }


    &__green-text {
        color: #1E6140;
        font-weight: 700;
    }


    &__btn {
        width: 220px;
        height: 47px;
        background-color: #E74E13;
        @extend %display;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        border-radius: 90px;
        margin-top: 37px;
        cursor: pointer;
        z-index: 1;
        position: relative;
    }

    @media (max-width:1370px) {

        &__block {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    @media (max-width:1000px) {

        &__block {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 10px 0px 10px;
            margin: 30px 0px 0px 0px;
        }

        &__h1 {
            margin-top: 3%;
        }

        &__text-info {
            width: 100%;
        }

        &__image {
            max-width: 70%;
        }

        &__leaf {
            display: none;
        }
    }

    @media (max-width:660px) {
        &__btn {
            width: 100%;
            margin: auto;
        }

        &__image {
            max-width: 100%;
        }

    }
}

.carusel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: clamp(580px, 60vw, 747px);
}

.solit {
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
        margin: 0px 10px;
        width: clamp(14px, 3vw, 32px);
    }

    h1 {
        font-size: clamp(22px, 4.5vw, 45px);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}

.slider {
    max-width: 1110px;
    position: relative;

    &__foto {
        transform: rotateY(182deg);

    }

    &__body {
        height: 440px;
    }

    &__window {
        height: fit-content;
        padding: 0px 0px 0px 5px;
    }


    &__prev {
        left: -140px;
    }

    &__next {
        transform: rotate(180deg);
        right: -140px;

    }

    &__index {
        transition: background-color 1s ease;
    }

    @media(max-width:930px) {

        &__prev,
        &__next {
            display: none;
        }
    }

    @media (max-width:880px) {
        &__body {
            overflow: visible;
        }

        .swiper-slide:nth-child(n+6) {
            display: none;
        }
    }

    @media (max-width:600px) {
        &__foto {
            transform: rotate(0deg);
        }
    }
}

@media (max-width:1450px) {
    .slider {
        width: 555px;
    }

    .swiper-slide:nth-child(n+11) {
        display: none;
    }
}

@media (max-width:870px) {
    .slider {
        width: 255px;
    }

}

.swiper-pagination-bullet {
    height: 15px;
    width: 8px;
    border-radius: 4px 4px 4px 4px;
    background-color: #8D3200;
    transition: 0.5s ease;

}

.swiper-pagination-bullet-active {
    transition: 1s ease;
    background-color: #8D3200;
    height: 30px;
}



// РЕНДЕР
.swiper-slide {
    width: 255px;
    height: 355px;

    &__ul {
        display: flex;
        flex-direction: row;
    }

    &__li {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-content: space-between;
        width: 233px;
        height: 327px;
        font-weight: 700;
        border-radius: 20px;
        background: #FFF;
        padding: 11px;
        cursor: pointer;
        transition: 0.3s ease;

    }


    &__image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 31px;
        position: relative;
        transition: 0.3 ease;
    }

    &__icon {
        width: 47px;
        height: 47px;
        right: -5px;
        top: -35px;
        position: absolute;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s ease;

        svg {
            fill: #8C3213;
        }

        &:hover {
            background-color: #8C3213;

            svg {
                fill: #fff;
            }
        }
    }


    &__block {
        width: 205px;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 20px;
        background: rgba(140, 50, 19, 0.06);
        padding: 15px;

    }


    &__link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    &__column {
        display: flex;
        flex-direction: column;
    }


    &__prise {
        color: #84BE51;
        font-size: 18px;
    }


    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 47px;
        height: 47px;
        border-radius: 90px;
        background: #FFF;
        cursor: pointer;
        transition: 0.5s ease;

        svg {
            fill: #8C3213;
        }

        &:hover {
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
        }

    }

    .swiper-slide__button__active {
        background-color: #8C3213;

        svg {
            fill: #fff;
        }
    }

}

.shares-main {
    background-color: #1E6140;
    height: clamp(630px, 70vw, 835px);
    @extend %display;
    flex-direction: column;

}

.shares {
    position: relative;
    width: 1110px;

    &__h1 {
        color: #fff;
    }

    &__swiper {
        height: 440px;
        position: relative;
    }

    &__button {
        @extend %display;
        width: 219px;
        height: 47px;
        border-radius: 90px;
        background: #E74E13;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        font-weight: 700;
        margin-top: 2%;
    }

    &__prev,
    &__next {
        top: 49%;
    }

    &__prev {
        left: -140px
    }

    &__next {
        transform: rotate(180deg);
        right: -140px;
    }

    @media(max-width:1450px) {

        &__swiper {
            width: 540px;
        }

        .swiper-slide:nth-child(n+11) {
            display: none;
        }

    }

    @media(max-width:930px) {

        &__next,
        &__prev {
            display: none;
        }
    }

    @media(max-width:870px) {

        &__swiper {
            width: 255px;
            overflow: visible;
        }

        .swiper-slide:nth-child(n+6) {
            display: none;
        }

    }

    @media (max-width:600px) {
        &__body {
            position: relative;
        }

        &__button {
            width: 90%;
            margin-top: 20px;
            z-index: 3;

        }

    }


    .swiper-pagination-bullet {
        background-color: #ffffff;
        transition: 0.5s ease;
    }

    .swiper-pagination-bullet-active {
        transition: 1s ease;
        background-color: #ffffff;
    }

}

@media (max-width:1450px) {
    .shares {
        width: 540px;
    }
}

@media (max-width:600px) {

    .shares-main {
        background-color: #1E6140;
        @extend %display;
        flex-direction: column;
    }

}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    width: 70px;
    height: 70px;
    border: 1px solid #84BE51;
    border-radius: 50%;
    transition: 0.3s ease;

    svg {
        width: 20px;
        height: 20px;
        fill: #84BE51;
    }

    &::after {
        content: '';
        display: none;
    }

    &:hover {
        background-color: #84BE51;

        svg {
            transition: 0.3s ease;
            fill: #fff;
        }
    }
}

.partner {
    position: relative;
    height: clamp(240px, 50vw, 500px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__swiper {
        width: 1110px;
        overflow: visible;
        height: 200px;
    }

    &__slide {
        width: 200px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFF;
        border-radius: 20px;

        img {
            width: 120px;
            height: 60px;
        }
    }

    &__next,
    &__prev {
        background-color: #84BE51;
        top: 42px;

        svg {
            fill: #fff;
        }

        svg {
            width: 20px;
            height: 20px;
        }

        &::after {
            content: '';
            display: none;
        }
    }

    &__prev {
        left: -140px;
    }

    &__next {
        transform: rotate(180deg);
        right: -140px;
    }


    @media (max-width:1450px) {
        &__swiper {
            width: 540px;
        }

        &__slide {
            max-width: 255px;
        }

        &__slide:nth-child(n+11) {
            display: none;
        }

    }

    @media(max-width:930px) {

        &__next,
        &__prev {
            display: none;
        }
    }

    @media (max-width:600px) {
        &__swiper {
            width: 255px;
            height: 150px;
            margin: 0;

            img {
                width: 92px;
                height: 46px;
            }
        }

        &__h1 {
            margin-bottom: 20px;
        }

        &__slide {
            height: 67px;
        }

        &__slide:nth-child(n+11) {
            display: none;
        }
    }
}



.seeds {

    &__block {
        max-width: 100%;
        background-image: url('../image/fermer.png');
        background-size: cover;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 90px;
        min-height: 624px;
    }

    &__main-text {
        padding: 0 25px;
        transition: max-height 0.5s ease;
        overflow: hidden;
        max-height: 624px;
        z-index: 1;
    }

    &__more {
        display: none;
        color: #FFF;
        text-decoration-line: underline;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        margin-top: 5px;
        z-index: 1;

        svg {
            margin-left: 8px;
        }
    }

    &__arrow {
        transition: 0.3s ease;
    }

    &__h1 {
        margin-bottom: 0;
        padding-top: 5%;
        font-size: clamp(22px, 4.5vw, 45px);

        img {
            width: clamp(14px, 3vw, 32px);
            margin-right: 8px;
        }
    }

    &__text {
        max-width: 1110px;
    }

    @media (max-width:617px) {
        &__more {
            display: block;
        }
    }
}

.footer {
    overflow: hidden;

    &__bet {
        height: 563px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__block {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__container {
        width: 1111px;
    }

    &__box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__emblem {
        max-width: 221px;
        color: rgba(0, 0, 0, 0.60);
        font-size: 16px;
        font-weight: 400;

        p {
            width: 221px;
            font-size: 16px
        }
    }

    &__wrap-ul {
        width: 51%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    &__ul {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    &__text {
        font-size: clamp(16px, 2.7vw, 18px);

        &:first-child {
            font-weight: 600;
            margin-bottom: 22px;
        }

        a {
            text-decoration: none;
        }
    }

    &__contact {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform, 0.3s ease;

        span {
            font-size: 18px;
            font-weight: 600;
        }
    }

    &__contact-wrapper {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        position: relative;
        z-index: 1;

        &:hover .footer__more-numbers {
            height: 110px;
            padding: 10px;
        }

        img {
            transition: 0.3s ease;
        }

        &:hover img {
            transform: rotate(180deg);
        }

    }

    &__more-numbers {
        width: 290px;
        position: absolute;
        background-color: #fff;
        left: -10px;
        top: -10px;
        border-radius: 20px;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        height: 0;
        transition: 0.3s ease;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: end;
        z-index: -1;

        a {
            width: 64%;
            margin: 10px 0px 0px 0px;
        }
    }

    &__contact-info {
        margin-left: 10px;
        cursor: pointer;
    }

    &__icon {
        width: 16px;
        height: 16px;
    }

    &__number {
        a {
            text-decoration: none;
        }

        img {
            margin-left: 6px;
        }
    }

    &__href {
        color: #84BE51;

        a {
            font-size: 14px;
        }
    }

    &__email {
        display: flex;
        flex-direction: row;
        align-items: center
    }

    &__icon {
        @extend %display;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #8C3213;
        transition: 0.3s ease;
        cursor: pointer;

        svg {
            fill: #8C3213;
        }

        &:hover {
            background-color: #8C3213;

            svg {
                fill: #fff;
                transition: 0.3s ease;
            }
        }
    }

    &__email-href {
        margin-left: 6px;

        a {
            text-decoration: none;
        }
    }

    &__line {
        margin: 0px auto;
        height: 50px;
        width: 1110px;
        border-top: 1px solid rgba(0, 0, 0, 0.20);
        color: rgba(0, 0, 0, 0.5);
        @extend %display;
        font-size: 14px;
        position: relative;
    }

    &__up {
        position: absolute;
        right: 0%;
        bottom: -200%;
        width: 65px;
        height: 188px;
        border-radius: 30px;
        background: #84C551;
        display: flex;
        justify-content: center;
        align-items: start;
        position: absolute;
        padding-top: 25px;
        cursor: pointer;

        svg {
            transform: rotate(90deg);
            fill: white;
            stroke: white;
        }
    }

    @media (max-width:1160px) {
        &__box {
            padding: 0px 10px 0px 10px;
            justify-content: space-around;
        }
    }

    @media (max-width:1110px) {
        &__line {
            width: 90%;
        }
    }

    @media (max-width:1044px) {
        &__wrap-ul {
            justify-content: space-around;
        }

        &__ul {
            margin: 0px 10px;
        }
    }

    @media (max-width:800px) {

        &__bet {
            height: 100%;
        }

        &__box {
            margin-top: 40px;
            justify-content: normal;
        }

        &__wrap-ul {
            width: 100%;
            flex-direction: row-reverse;
            margin: 10px 0px;
        }

        &__block {
            height: max-content;
        }


        &__contact {
            margin: 10px 0px 20px 0px;
        }

    }

    @media (max-width:748px) {


        &__more-numbers {
            display: none;
        }

    }

    @media (max-width:500px) {
        &__wrap-ul {
            width: 100%;
            flex-direction: row-reverse;
            margin: 10px 0px;
        }

        &__ul {
            margin: 8px;
        }

        &__emblem {
            max-width: max-content;

            p {
                width: 100%;
            }
        }


        &__line {
            width: 100%;
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    cursor: default;

    &__wrap {
        width: clamp(289px, 70vw, 1110px);
        position: relative;
    }

    &__exit {
        position: absolute;
        cursor: pointer;
        top: -5%;
        right: -5%;
        z-index: 11;

        img {
            width: clamp(20px, 1vw, 30px);
        }
    }

    @media (max-width:670px) {
        &__exit {
            right: 0;
        }
    }
}

.shopping {
    overflow-y: scroll;
    background-color: #fff;
    height: 563px;
    padding: 0% 8%;
    border-radius: 20px;
    z-index: 11;

    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0);
    }

    &__castle {
        color: #000;
        font-weight: 700;
        display: flex;
        justify-content: center;
        font-size: clamp(25px, 4.5vw, 55px);

        img {
            margin: 0px 10px 0px 10px;
            width: clamp(14px, 3vw, 32px);
        }
    }

    &__image {
        transform: rotateY(180deg);
    }

    &__box {
        max-width: 920px;
        height: max-content;
        padding-bottom: 20px;
        border-top: 1px solid rgba(0, 0, 0, 0.10);
        border-bottom: 1px solid rgba(0, 0, 0, 0.10);
        margin: auto;
    }

    &__block {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__info {
        width: 100%;
        color: #000;
        font-size: 25px;
        font-weight: 700;
    }

    &__wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__name {
        margin: 27px 0px;
        font-size: clamp(16px, 3.5vw, 25px);
    }

    &__commodity {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 285px;
        height: 192px;
        border-radius: 20px;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
        margin-right: 30px;
    }

    &__characteristics {
        height: fit-content;
    }

    &__volume {
        font-size: 14px;
        font-weight: 400;
    }

    &__prise {
        color: #84BE51;
        font-size: clamp(16px, 3.5vw, 25px);
        font-weight: 700;
    }

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
    }

    &__company {
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        span {
            font-size: 14px;
            font-weight: 700;
        }
    }

    &__post {
        color: rgba(0, 0, 0, 0.50);
        font-weight: 400;
        margin-left: 10px;
    }

    &__quantity {
        width: 208px;
        @extend %display;
        justify-content: space-between;
        height: fit-content;
        font-size: 16px;
        font-weight: 700;

    }

    &__lor {
        @extend %display;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #84BE51;
        color: #fff;
        cursor: pointer;
    }

    &__minus {
        &::after {
            content: "-";
            margin: -3px 0px 0px 0px;
        }
    }

    &__plus {
        &::after {
            content: "+";
        }
    }

    &__number {
        @extend %display;
        width: 47px;
        height: 47px;
        font-weight: 400;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.20);
        margin: 0px 10px;
    }

    &__order {
        height: 134px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: auto
    }

    &__button {
        @extend %display;
        width: 260px;
        height: 44px;
        border-radius: 90px;
        border: 1px solid #E74E13;
        font-size: 16px;
        font-weight: 700;
        background-color: white;
        color: #E74E13;
        cursor: pointer;
        z-index: 1;
        transition: 0.3s ease;

        svg {
            margin: 0px 10px;
            fill: #E74E13;
            transition: 0.3s ease;
        }

        &:hover {
            background-color: #E74E13;
            color: white;

            svg {
                fill: white;
            }
        }

    }


    @media (max-width:1030px) {
        &__block {
            flex-direction: column;
        }
    }

    @media (max-width:900px) {
        &__order {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        &__quantity-wrap {
            margin-top: 20px;
        }
    }

    @media (max-width:670px) {
        &__wrap {
            flex-direction: column;
            align-items: normal;
        }

        &__characteristics {
            margin-top: 15px;
        }

        &__commodity {
            margin: auto;
            width: 253px;
        }
    }
}

@media (max-height:670px) {
    .shopping {
        padding: 0% 5%;
    }
}